flows.json
[{"id":"d1f6a2da.36b78","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"f46b48a4.b87b78","type":"watson-conversation-v1","z":"d1f6a2da.36b78","name":"","workspaceid":"b4bf0fb8-9451-41ad-915a-d0bab437b8cc","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/245c5a7a-01c4-4fd6-863a-a0da8717c7b6","timeout":"","optout-learning":false,"x":380,"y":100,"wires":[["8be5a90a.03aa48","90268703.11cc08"]]},{"id":"7270e824.0d6818","type":"ui_form","z":"d1f6a2da.36b78","name":"","label":"","group":"e0ec6112.d4af1","order":1,"width":"6","height":"4","options":[{"label":"Enter Input","value":"text","type":"text","required":true,"rows":null}],"formValue":{"text":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":150,"y":280,"wires":[["45b432f.d6d28cc"]]},{"id":"8be5a90a.03aa48","type":"function","z":"d1f6a2da.36b78","name":"","func":"msg.payload=msg.payload.output.text[0];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":20,"wires":[["35e803f.78e69fc"]]},{"id":"90268703.11cc08","type":"debug","z":"d1f6a2da.36b78","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":550,"y":220,"wires":[]},{"id":"c1c2ec11.60976","type":"ui_text","z":"d1f6a2da.36b78","group":"e0ec6112.d4af1","order":2,"width":0,"height":0,"name":"","label":"YOU","format":"{{msg.payload}}","layout":"row-spread","x":410,"y":260,"wires":[]},{"id":"35e803f.78e69fc","type":"ui_text","z":"d1f6a2da.36b78","group":"e0ec6112.d4af1","order":4,"width":"6","height":"2","name":"","label":"At Your Service","format":"{{msg.payload}}","layout":"col-center","x":720,"y":120,"wires":[]},{"id":"45b432f.d6d28cc","type":"function","z":"d1f6a2da.36b78","name":"","func":"msg.payload=msg.payload.text;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":260,"y":180,"wires":[["f46b48a4.b87b78","c1c2ec11.60976"]]},{"id":"4c0e2b4b.bfd264","type":"ui_text_input","z":"d1f6a2da.36b78","name":"","label":"Your Name","tooltip":"","group":"4f7ef848.349508","order":1,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":150,"y":420,"wires":[["fdbf3cf3.f18b9"]]},{"id":"54fd1c44.948284","type":"ui_text","z":"d1f6a2da.36b78","group":"4f7ef848.349508","order":2,"width":0,"height":0,"name":"","label":"Greetings","format":"{{msg.payload}}","layout":"row-spread","x":740,"y":440,"wires":[]},{"id":"fdbf3cf3.f18b9","type":"function","z":"d1f6a2da.36b78","name":"","func":"msg.payload=\"HI \"+msg.payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":400,"wires":[["54fd1c44.948284","93fbcc02.600c4"]]},{"id":"70105438.ed248c","type":"ui_slider","z":"d1f6a2da.36b78","name":"","label":"Thank you","tooltip":"","group":"443e84c.b9a347c","order":0,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":0,"max":10,"step":1,"x":190,"y":540,"wires":[["765e8e98.4d51c"]]},{"id":"765e8e98.4d51c","type":"ui_gauge","z":"d1f6a2da.36b78","name":"","group":"443e84c.b9a347c","order":1,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":"0","max":"10","colors":["#fb0404","#eaed0c","#05f808"],"seg1":"4","seg2":"7","x":530,"y":540,"wires":[]},{"id":"93fbcc02.600c4","type":"ui_audio","z":"d1f6a2da.36b78","name":"","group":"4f7ef848.349508","voice":"en-US","always":false,"x":720,"y":340,"wires":[]},{"id":"e0ec6112.d4af1","type":"ui_group","z":"","name":"Ecobee Bot","tab":"c0680e99.db03f","order":2,"disp":true,"width":"6","collapse":false},{"id":"4f7ef848.349508","type":"ui_group","z":"","name":"Lets know each other","tab":"c0680e99.db03f","order":1,"disp":true,"width":"6","collapse":false},{"id":"443e84c.b9a347c","type":"ui_group","z":"","name":"Rate Us","tab":"c0680e99.db03f","order":3,"disp":true,"width":"6","collapse":false},{"id":"c0680e99.db03f","type":"ui_tab","z":"","name":"Customer care","icon":"dashboard","disabled":false,"hidden":false}]